@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App img {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}
.App p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}
.App img {
  width: 500px;
  margin: 0 auto;
}